.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

  .login-form {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #1677ff;
  }
  
  .login-form-group {
    display:flex;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .login-form-group input {
    width: 70%;
    padding: 8px;
    color: #1677ff;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .login-button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
    background: linear-gradient(90deg, #1677ff 0%, #75aef3 100%);
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-bottom: 15px;
  }
  