.patient-content {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 0px 40px;
  border-radius: 10px;
  height: 555px;
}

.search-input-patient {
  width: 100%;
  margin: 0px 0px 8px 0px;
}